<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]}
          }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding>
      <!-- Adds the /Libraries directory for assembly resolution -->
      <probing privatePath="Libraries" />
    </assemblyBinding>
  </runtime>
</configuration>